<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Welcome to balena!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" media="screen" href="public/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="public/main.css" />
  </head>
  <body>
    <div class="header">
      <nav class="navbar">
        <div class="container d-flex justify-content-center">
          <a href="http://balena.io/" target="_blank">
            <img style="width: 6rem; height: auto" src="public/logo.svg" />
          </a>
        </div>
      </nav>
    </div>

    <div class="container mt-5 mb-5 p-0 pb-5">
      <div class="row d-flex flex-column align-items-center">
        <h1>Welcome to the config site!</h1>
        <p class="text-center pl-5 pr-5 pt-0 pb-0">Text</p>
        <form action="/send" method="POST">
          <input type="text" name="newState" placeholder="Enter State" />
          <input type="submit" value="Send State" />
        </form>
      </div>
    </div>
    <canvas id="canvas"></canvas>
  </body>
</html>
